.container__label
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.card-label__content
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: bold;
    height: 27px;
    padding: 0 50px;
}