<div class="container__home">
    <app-card
    gameCover="/assets/dawn.jpg"
    labelTag="DIGITAL COLECTORS EDITION"
    gameType="ONLINE"
    labelColor="#A07731"
    labelText="whitesmoke"
    labelSpacing="3px"
    >   
    </app-card>
    <app-card
    gameCover="/assets/elden-ring.jpg"
    gamePrice="R$ 399,50"
    labelTag="DELUXE EDITION"
    gameType="PS4 | PS5"
    labelColor="#515151"
    labelText="whitesmoke"
    labelSpacing="7px"
    >
    </app-card>
    <app-card
    gameCover="/assets/fallout.jpg"
    gamePrice="R$ 200,00"
    gamePricePromo="R$ 160,00"
    gameType="PS4 | PS5"
    [promoSwitch]= "true"
    >
    </app-card>
    <app-card
    gameCover="/assets/creed.jpg"
    gamePrice="R$ 649,50"
    labelTag="ULTIMATE EDITION"
    gameType="PS5"
    labelColor="#515151"
    labelText="whitesmoke"
    labelSpacing="3px"
    >
    </app-card>
    <app-card
    gameCover="/assets/stellar.jpg"
    gamePrice="R$ 399,50"
    labelTag="DIGITAL DELUXE EDITION"
    gameType="PC | PS5"
    labelColor="#2259A3"
    labelText="whitesmoke"
    labelSpacing="3px"
    >
    </app-card>
    <app-card
    gameCover="/assets/helldivers.jpg"
    gamePrice="R$ 199,90"
    gameType="PS5 | PSPLUS"
    >
    </app-card>
</div>